<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <!--Fixed Upper navbar-->
    <div class="navbar-brand">
        <img src="/images/logotest.png" alt="logo" />
    </div>


    <!--<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>-->
    <div id="navbar-elements" class="collapse navbar-collapse justify-content-start">
        <form class="navbar-form form-inline">
            <div class="input-group search-box">
                <input type="text" id="search" class="form-control" placeholder="Search here...">
                <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
            </div>
        </form>



        <!--Icon lower navbar for mobile-->
        <div class="hidden-nav-part">
            <div class="navbar-nav ">
                <a href="/" class="nav-item nav-link active"><i class="fa fa-home"></i><span>Home</span></a>
                <a href="/user/{{currentUser._id}}/network" class="nav-item nav-link"><i
                        class="fa fa-gears"></i><span>Network</span></a>
                <a href="#" class="nav-item nav-link"><i class="fa fa-comment"></i><span>Chats</span></a>
            </div>
        </div>



        <!--User Dropdown-->
        <div class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action" role="button"
                id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                <img src="{{ currentUser.avatar }}" class="avatar" alt="Avatar">
                {{ currentUser.name }}
                <b class="caret"></b>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a href="/user/{{currentUser.id}}" class="dropdown-item"><i class="fa fa-user-o"></i> My profile</a>
                <a href="/user/{{currentUser.id}}/pets" class="dropdown-item"><i class="fa fa-calendar-o"></i> My
                    pets</a>
                <div class="divider dropdown-divider"></div>
                <a href="/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
            </div>
        </div>

    </div>

    {{#if user.notifications}}
    <div class="alert alert-primary" role="alert">
        {{#each user.notifications as |notification|}}
        <div>{{notification}}</div>
        {{/each}}
    </div>
    {{/if}}
</nav>