<div id="index-page-container">
   <h2>News feed</h2>

   {{#if posts }}
   {{#each posts as |post| }}
      <div class="card mb-3">
         <div class="card-header">
            <img class="rounded-circle" src="{{ post.user.avatar }}" alt="author photo">
            <span class="card-title">{{ post.user.name }}</span>
            <div class="text-muted">Published on {{ post.createdAt }}</div>
         </div>
         <div class="card-body"> {{ post.body }} </div>
         <div class="card-footer">
            {{#if post.likes}}
               <span class="text-muted"><i class="fa fa-heart"></i> {{post.likes.length}} &nbsp;- </span>
            {{/if}}
            {{#if post.comments}}
               <span class="text-muted">comments: {{post.comments.length}} | </span>
               <a href="">View comments</a>
            {{/if}}
         </div>
      </div>
   {{/each}}
   {{/if}}
</div>

