<div id="signup-page-container">
	<h2>Add your pet here</h2>

	<form action="/pets/addNewPet" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<label for="name">Name:</label>
				<input name="name" type="text" class="form-control {{#if error.name }}is-invalid{{/if}}" id="name"
					placeholder="Enter pet name" value="{{ pet.name }}">

				{{#if error.name}}
				<div class="invalid-feedback">
					{{error.name.message}}
				</div>
				{{/if}}
			</div>

			<div class="form-group">
				<label for="breed">Breed:</label>
				<input name="breed" type="text" class="form-control {{#if error.breed }}is-invalid{{/if}}"
					id="breed" placeholder="Enter breed" value="{{ pet.breed }}">

				{{#if error.breed}}
				<div class="invalid-feedback">
					{{error.breed.message}}
				</div>
				{{/if}}
			</div>

			<div class="form-group">
				<label for="avatar">Pet image:</label>
				<input name="avatar" type="file" class="form-control {{#if error.avatar }}is-invalid{{/if}}"
					id="avatar" placeholder="Enter pet photo" value="{{ pet.avatar }}">

				{{#if error.avatar}}
				<div class="invalid-feedback">
					{{error.avatar.message}}
				</div>
				{{/if}}
			</div>

			<div class="form-group">
				<label for="bio">Provide a short description of your pet:</label>
				<textarea name="bio" type="text" class="form-control {{#if error.bio }}is-invalid{{/if}}" id="bio"
					placeholder="Enter description" value="{{ pet.bio }}" rows="4">{{ pet.bio }}</textarea>

				{{#if error.bio}}
				<div class="invalid-feedback">
					{{error.bio.message}}
				</div>
				{{/if}}
			</div>

			<div class="form-group">

				<label for="available">What´s your pet status?</label>
				<select name="available" id="available">
					<option class="form-control" value="{{ pet.available }}">Available</option>
					<option class="form-control" value="{{ pet.available }}">Not Available</option>
				</select>


				{{#if error.available}}
				<div class="invalid-feedback">
					{{error.available.message}}
				</div>
				{{/if}}
			</div>

			<div id="signup-btn-area">
				<button type="submit"> Save </button>
			</div>

		</form>
</div>