<div class="row py-5 px-4">
	<div class="col mx-auto">
		<!-- Profile widget -->
		<div class="bg-white shadow rounded overflow-hidden">
			<div class="media align-items-end profile-head">
				<div class="left-head">
					<div class="profile mr-3"><img src="{{user.avatar}}" alt="user avatar" width="130"
							class="rounded mb-2 img-thumbnail">
					</div>
				</div>

				<div class="right-head">
					<div class="media-body text-black">
						<h2><b>{{user.name}}</b></h2>
						<h5><b>@{{user.username}}</b>
						</h5>
						<h6>Status: {{user.status}}</h6>
					</div>

					{{#ifeq currentUser.id user._id }}

					<div id="user-profile-btn-area">
						<a class="btn btn-link crud-buttons" href="/user/{{user._id}}/edit">Edit profile</a>
						<a class="btn btn-link crud-buttons" href="/user/{{user._id}}/delete">Delete
							profile</a>
						<a class="btn btn-link crud-buttons" href="/logout">Logout</a>
					</div>
					{{/ifeq}}
				</div>

			</div>

			<div class="py-4 px-4">
				<div class="d-flex align-items-center justify-content-between mb-3">
					<h5 class="mb-0">My pets</h5><a href="/user/{{user.id}}/profilefeed" class="btn btn-link">Back
						to feed</a>
				</div>

				{{#if pets}}
				{{#each pets as |pet|}}
				<div class="card" style="max-width: 767px;">
					<div class="row no-gutters">

						<div class="col-md-4">

							<img src="{{ pet.avatar }}" class="card-img pets-image" alt="pet avatar">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<b><h3 class="card-title">Name: {{ pet.name }}</h3></b>
								<h5 class="card-title">Breed: {{ pet.breed }}</h5>
								<h6 class="card-title">Status: {{ pet.available }}</h6>
								<p class="card-text">About pet: {{ pet.bio }}</p>
								<a href="/pet/{{pet.id}}/profile"><i class="fas fa-dog"></i>
									<div>View pet profile</div>
								</a>

							</div>
						</div>

					</div>
				</div>
				{{/each}}
				{{/if}}
			</div>
		</div>
	</div>
</div>