<div class="row">
	<div class="col mx-auto">
		<!-- Profile widget -->
		<div class="bg-white shadow rounded overflow-hidden">

			<div class="media align-items-end profile-head">
				<div class="left-head">
					<div class="profile mr-3"><img src="{{pet.avatar}}" alt="user avatar" width="130"
							class="rounded mb-2 img-thumbnail">
					</div>
				</div>

				<div class="right-head">
					<div class="media-body text-black">
						<h2><b>{{pet.name}}</b></h2>
						<h5><b>Breed: {{pet.breed}}</b>
						</h5>
						<h5><b>Pedigree: {{pet.pedigree}}</b>
						</h5>
						<h6>Status: {{pet.available}}</h6>
					</div>

					{{#ifeq currentUser.id pet.user._id }}

					<div id="user-profile-btn-area">
						<a class="btn btn-link crud-buttons" href="/pet/{{pet._id}}/editPet">Edit Pet</a>
						<a class="btn btn-link crud-buttons" href="/pet/{{pet._id}}/deletePet">Delete Pet</a>
					</div>
					{{/ifeq}}
				</div>

			</div>



			<div class="px-4 py-3">
				<h5 class="mb-0">About Pet</h5>
				<div class="p-4 rounded shadow-sm bg-light">
					<p class="font-italic mb-0">{{pet.bio}}</p>
				</div>
			</div>



			<div class="py-4 px-4">
				<div class="d-flex align-items-center justify-content-between mb-3">
					<h5 class="mb-0">Pet Gallery</h5><a href="/user/{{pet.user._id}}/pets"
						class="btn btn-link">Back to Pets</a>
				</div>

				<div id="pet-gallery" class="row align-items-center justify-content-between">
					<div id="photo-gallery" class="col">
						{{#each pet.gallery as |image|}}

						<img class="pet-photo" src="{{image}}">

						{{/each}}
					</div>


				</div>
			</div>
		</div>
	</div>
</div>