<div class="row">
	<div class="col mx-auto">
		<!-- Profile widget -->
		<div class="bg-white shadow rounded overflow-hidden">
			<div class="media align-items-end profile-head">
				<div class="profile mr-3"><img src="{{pet.avatar}}" alt="user avatar" width="130"
						class="rounded mb-2 img-thumbnail">{{!-- <a href="#"
						class="btn btn-outline-dark btn-sm btn-block">Match</a> --}}</div>
				<div class="media-body mb-5 text-black">
					<h4 class="mt-0 mb-0">{{pet.name}}</h4>
					<p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{{pet.breed}}</p>
					<p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{{pet.available}}</p>
				</div>

				{{!-- {{#ifeq ../currentUser.id pet.user._id }}
				<div>
					<a href="/pet/{{pet._id}}/editPet">Edit Pet</a>
					<br>
					<a href="/pet/{{pet._id}}/deletePet">Delete Pet</a>
				</div>
				{{/ifeq}} --}}
			</div>



			<div class="px-4 py-3">
				<h5 class="mb-0">About</h5>
				<div class="p-4 rounded shadow-sm bg-light">
					<p class="font-italic mb-0">{{posts.[0].user.bio}}</p>
				</div>
			</div>



			<div class="py-4 px-4">
				<div class="d-flex align-items-center justify-content-between mb-3">
					<h5 class="mb-0">Pet Gallery</h5><a href="/user/{{pets.[0].user._id}}/pets"
						class="btn btn-link text-muted">Back to Pets</a>
				</div>

				<div id="pet-gallery" class="row align-items-center justify-content-between">
					<div id="photo-gallery" class="col">
						{{#each pet.gallery as |image|}}

						<img class="pet-photo" src="{{image}}">

						{{/each}}
					</div>


				</div>
			</div>
		</div>
	</div>
</div>