<div class="container">
	<div class="user-network">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" href="#">Match with people</a>

			</li>
			<li class="nav-item">
      
				<a class="nav-link" href="/user/{{currentUser.id}}/matches">My matches</a>

			</li>
		</ul>
	</div>


	<div class="row bootstrap snippets bootdey">

		<div class="panel" id="followers">
			<div class="panel-heading">
				<h4 class="panel-title text-center">
					MeetMyPet People
				</h4>
			</div>

			<ul class="user-card list-group list-group-dividered list-group-full">
				{{#each users as |user|}}
				<li class="list-group-item mb-3 rounded shadow">
					<div class="media">

						<div class="media-body">

							<div class="row mt-2">
								<div class="col-sm-12 col-md-3 mb-3 text-center">
									<a class="avatar avatar-online" href="javascript:void(0)">
										<img class="img-thumbnail rounded" src="{{user.avatar}}" alt="">
									</a>
								</div>

								<div class="col-sm-12 col-md-9 text-center">
									<a class="name text-success" href="/user/{{user._id}}/profilefeed">
										<h5 class="mt-0" style="color:lightseagreen">{{user.name}}</h5>
									</a>
									<div class="text-muted"><i>{{user.username}}</i></div>
									<p>{{user.status}}</p>

									<div class="col-12 text-center border-top border-success mt-3 pt-2 pb-2">
										<a class="btn btn-info btn-sm waves-effec waves-light m-1" href="/user/{{../currentUser.id}}/{{user._id}}/requestmatch">Match</a>
										<a class="btn btn-info btn-sm waves-effec waves-light " href="/user/{{user._id}}/profilefeed">View Profile</a>
									</div>
								</div>

									

							</div>
						</div>
					</div>
				</li>
				{{/each}}
			</ul>
			
		</div>

	</div>

</div>