<div class="container">
	<div class="user-network">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" href="/user/{{currentUser.id}}/network">Match with people</a>

			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/user/{{currentUser.id}}/matches">My matches</a>
			</li>
		</ul>
	</div>

	<div class="row bootstrap snippets bootdey">

		<div class="panel" id="followers">
			<div class="panel-heading">
				<h4 style="color:lightseagreen" class="panel-title">
					Current Matches
				</h4>
			</div>

			<ul class="user-card list-group list-group-dividered list-group-full">
				{{#each users as |user|}}
				<li class="list-group-item mb-3 rounded shadow">
					<div class="media">
						
						<div class="media-body">

							<div class="row mt-2">
								<div class="col-sm-12 col-md-4 mb-3 text-center">
									<a class="avatar avatar-online" href="javascript:void(0)">
										<img class="network-profile-img border border-light rounded shadow mb-3" src="{{user.data.avatar}}" alt="profile photo">
									</a>
								</div>

								<div class="col-sm-12 col-md-8 text-center">
									<a class="name text-success" href="/user/{{user.data._id}}/profilefeed">
										<h5 class="mt-0 " style="color:lightseagreen">{{user.data.name}}</h5>
									</a>
									<div class="text-muted"><i>{{user.data.username}}</i></div>
									<p>{{user.data.status}}</p>


									<div class="col-12 text-center mt-3 pt-2 pb-2">
										{{#if user.showBtn}}
											<div id="matchBtns" class="row mb-0 mt-1">
												<form action="/match/{{user.match}}/denied" method="POST" id="{{user.match}}" {{!-- data-match-denybtn="{{user.match}}" --}} class="col-sm-12 col-md-6 text-center" >
													<button type="submit" class="btn btn-sm waves-effect waves-light border border-danger mt-2">DENY</button>
												</form>
												<div class="text-center col-sm-12 col-md-6">
													<a href="#" data-match-status="{{user.match}}" data-matcherid="{{user.data._id}}" class="btn btn-sm waves-effect waves-light border border-danger mt-2" style="margin: auto;">ACCEPT</a>
												</div>
											</div>

										{{else}}
											<div class="col-12">
												<a href="/user/{{user.data._id}}/profilefeed" class="btn btn-info btn-sm waves-effect waves-light mt-1 col-12">View Profile</a>
											</div>
										{{/if}}
									</div>
								</div>



							</div>
						</div>
					</div>
				</li>
				{{/each}}
			</ul>
			
		</div>
		
	</div>
</div>