<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
	<div class="users-container">
		<div class="chat-search-box">
			<div class="input-group">
				<input class="form-control" placeholder="Search">
				<div class="input-group-btn">
					<button type="button" class="btn btn-info">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
		</div>
		
		<div class="active-chats">
			<ul class="users">
				{{!-- missing making li section a link to private chat room by chat id --}}
				{{#each chats as |chat|}}
					<li class="person" data-chat="person1">
						<a href="/chat/{{chat._id}}">
							<div class="user">
								<img src="{{chat.members.[0].avatar}}" alt="user avatar">
								<span class="status busy"></span>
							</div>
							<p class="name-time">
								<span class="name">{{chat.members.[0].name}}</span>
								{{!-- <span class="time">{{chat.createdAt}}</span> --}}
							</p>
						</a>
					</li>
				{{/each}}
			</ul>
		</div>

		<hr class="style5">

		<div class="new-chat">
			<ul class="users">
				{{!-- missing making li section a link to private chat room by chat id --}}
				{{#each matches as |match|}}
					<li class="person" data-chat="person1">
						<div class="user">
							<img src="{{match.users.[0].avatar}}" alt="user avatar">
							<span class="status busy"></span>
						</div>
						<p class="name-time">
							<span class="name">{{match.users.[0].name}}</span>
						</p>
						<a href="/chat/new/{{match.users.[0]._id}}">Start chat</a>
					</li>
				{{/each}}
			</ul>
		</div>
		

	</div>
</div>