<div class="container content" >

	<div class="card">
		<div class="card-header">
			Chat
			<a href="/chat/list" class="nav-item nav-link active">
				<i class="fa fa-arrow-left"></i><span> Back to Chats</span>
			</a>
		</div>
		<div id="message-container">
			<div class="card-body height3">
				<div class="send">
					<form action="/chat/{{chat._id}}/messages" method="POST" >
						<label for="message">New message:</label>
						<textarea class="form-control" name="message" id="chat-message-textarea" placeholder="Your message here..."></textarea>
						<button class="btn bg-info" id="chat-message-sendbtn" type="submit">Send</button>
					</form>
				</div>
				<ul class="chat-list">
					{{#each chat.messages as |message|}}
						<div data-chat-identifier="{{../chat._id}}"></div>
						{{#ifeq message.sender ../currentUser.id }}
							<br>
							<li class="out bg-light">
								<div class="chat-img">
									<img alt="Avtar" src="{{message.sender.avatar}}">
								</div>
								<div class="chat-body">
									<div class="chat-message">
										<h5>{{message.sender.name}}</h5>
										<p>{{message.message}}</p>
									</div>
									<small class="bg-muted"><i>{{message.createdAt}}</i></small>
								</div>
							</li>
							
						{{else}}
							<br>
							<li class="in">
								<div class="chat-img">
									<img alt="Avtar" src="{{message.sender.avatar}}">
								</div>
								<div class="chat-body">
									<div class="chat-message">
										<h5>{{message.sender.name}}</h5>
										<p>{{message.message}}</p>
									</div>
									<small class="text-muted"><i>{{message.createdAt}}</i></small>
								</div>
							</li>
							
						{{/ifeq}}

					{{/each}}
				</ul>
			</div>
		</div>
	</div>

	<script src="/js/chats.js"></script>
</div>