<div class="edit-post-page">
    <div class="card mb-3">
        <div class="card-header edit-post-card">
            <div>
                <img class="rounded-circle post-image img-thumbnail" src="{{ post.user.avatar }}" alt="author photo">
            </div>
            <div class="edit-post-head">
                <span class="card-title">{{ post.user.name }}</span>
                <div class="text-muted">Published on {{ post.createdAt }}</div>
            </div>

        </div>
        <form action="/post/{{post._id}}/edit" method="POST">
            <label for="body">Edit post:</label>
            <textarea class="form-control" name="body" id="body" required="">{{ post.body }}</textarea>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <div class="card-footer"></div>
    </div>