<article class="edit-post-container">
  <h1>Edit project</h1>

  <div class="card-header">
    <img class="rounded-circle" src="{{ post.user.avatar }}" alt="author photo">
    <span class="card-title">{{ post.user.name }}</span>
    <div class="text-muted">Published on {{ post.createdAt }}</div>
  </div>
  <form action="/post/{{post._id}}/editpost" method="POST">
    <label for="body">Edit post:</label>
    <textarea class="form-control" name="body" id="body">{{ post.body }}</textarea>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <div class="card-footer"></div>
</article>