<div class="post-detail-page">
    <div class="card mb-3">
        <div class="card-header edit-post-card">
            <div>
                <img class="rounded-circle post-image" src="{{ post.user.avatar }}" alt="author photo">
            </div>
            <div class="edit-post-head">
                <span class="card-title" style="color:black">{{ post.user.name }}</span>
                <div class="text-muted">Published on {{ post.createdAt }}</div>
            </div>

        </div>
        <div class="card-body"> {{ post.body }} </div>

        <div class="card-footer">
            <button type="button" class="btn-sm btn btn-outline-danger" data-like-post="{{post._id}}">
                <i class="fa fa-heart mr-1"></i>
                <span class="likes-count">{{post.likes.length}}</span>
                Likes
            </button>
            <span class="text-muted"> - {{post.comments.length}} comments </span>
        </div>

        <b><h3 style="margin:30px">Comments:</h3></b>

        {{#if post.comments}}
        {{#each post.comments as |comment|}}

        <div class="row border-bottom">
            <div class="col-3">
                <img class="rounded-circle" src="{{comment.user.avatar}}" alt="author photo">
            </div>
            <div class="col-9">
                <h5>{{comment.user.name}}</h5>
                <p>{{comment.body}}</p>
                <br>
                <p class="text-muted">{{comment.createdAt}}</p>
            </div>
        </div>

        {{/each}}
        {{/if}}

        <div class="edit-post-form">
            <form action="/post/{{post._id}}/comment" method="POST">
                <label for="comment">New comment:</label>
                <textarea class="form-control" name="comment" id="comment" placeholder="Your message"
                    required=""></textarea>
                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</div>